.item {
    width: 100px;
    height: 100px;
    margin: 0 5px;
    background-color: #E74C3C;
    border-radius: 50%;
    cursor: move;
    display: inline-block;
    position: fixed;
}

.left {
    top: 10px;
    left: 20px;
}

.middle {
    top: 10px;
    left: 330px;
}

.right {
    top: 10px;
    left: 640px;
}

.over {
    background-color: #8E44AD;
}