.middle {
    margin: auto;
    text-align: center;
}

.dropzone {
    background-color: #BDC3C7;
    width: 60%;
    min-height: 300px;
}

#filelist {
    overflow-y: auto;
    max-width: 60%;
    height: 250px;

    margin: auto;

    background-color: #ECF0F1;
}

progress {
    height: 5px;
    width: 100%;
    color: #E74C3C;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Firefox */
progress::-moz-progress-bar { 
    background-color: #E74C3C;
}

/* Chrome */
progress::-webkit-progress-bar {
    background-color: #eee;
}
progress::-webkit-progress-value {
    background-color: #E74C3C;
}

.item {
    text-align: left;
    display: inline-block;
    height: 100px;
    width: 45%;
    border-bottom: 2px solid #C4C7C8;
    padding: 4px;
    overflow-y: auto;
    margin-right: 20px;
}

.over {
    border: 8px dashed #95A5A6;
}

.left {
    float: left;
}

.info {
    font-size: 80%;
    line-height: 1.0em;
}